.overlay {
  position: fixed;
  bottom: 15vh;
  height: 60vh;
  width: 80vw;
  background-color: rgba(255,255,255, 0.9);
  display: flex;
  z-index: 3;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 3px 15px #00000099;
  border-radius: 4vw;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: -7em;
  color: #000;
  flex: 1;
}

.header-text {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.7rem;
  padding-top: 1vh;
}

.header-text.secondary {
  font-family: 'Nulshock';
  font-size: 2rem;
}

.sub-text {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1rem;
  padding-top: 1vh;
  margin: 0 5vw;
}

.form-group {
  flex: 1;
  flex-direction: column;
  margin: 5vh 5vw 0 5vw;
  justify-content: center;
}

.input {
  padding: 1vh 0 1vh 1vw;
  margin: 0 1.5vw;
  font-size: 1em;
  border-radius: 1vw;
  border: 0.05vw grey solid;
  flex: 1;
}

.name-input {
  width: 55vw;
  padding: 0.5em 0;
}

.phone-input {
  width: 60vw;
  margin: 2vh 0 0 5vw;
  flex: 1;
  padding: 0;
  border: none;
}

.email-input {
  width: 53.5vw;
  padding: 0.5em 0 0.5em 1em;
  margin: 1em 0 0 0;
}

.submit-button {
  text-align: center;
  margin: 4vh 10vw -5vh 10vw;
  justify-content: center;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.5em;
  padding: 1vh 0;
  background: transparent linear-gradient(107deg, #4B1FC2 0%, #7021B2 100%) 0% 0% no-repeat padding-box;
  border-radius: 0.9em;
  opacity: 0.76;
  cursor: pointer;
  user-select: none;
}

/* -------------------- DESKTOP OPTIMIZATION -------------------- */
@media only screen and (min-device-width: 1024px) and (max-device-height: 1440px) {

  .overlay {
    height: 80vh;
  }

  .header-text {
    font-size: 0.7em;
  }

  .header-text.secondary {
    font-size: 1.2rem;
  }

  .sub-text {
    font-size: 0.4rem;
    margin-top: -0.5em;
  }

  .name-input {
    padding: 0.15em 0;
  }

  .phone-input {
    margin: 3vh 0 0 5vw;
  }

  .email-input {
    padding: 0.1em 0 0.1em 0.2em;
    margin-top: 0.5em;
  }

  .submit-button {
    margin: 3vh 2vw 0 40vw;
    padding: 0.5em 0;
    font-size: 1em;
  }

  .cover {
      width: 25%;
      height: 65%;
  }
}