@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NulShock'; /* You can name it whatever you want */
  src: url("../public/nulshock_bd.woff") format('truetype'); /* Use the correct path to your font file */
  font-weight: normal;
  font-style: normal;
  font-display: 'swap';
}
  
@font-face {
    font-family: 'Germany Sans'; /* You can name it whatever you want */
    src: url("../public/GermanySans.woff") format('truetype'); /* Use the correct path to your font file */
    font-weight: normal;
    font-style: normal;
    font-display: 'swap';
}